input,button,textarea{font-family: $fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
a,a:visited,a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size: inherit;}